@page
@model IndexModel
@{
    ViewData["Title"] = "Foc Student Dev Space";
}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6 col-12 mx-auto">
                <div class="small-text" >
                    <marquee behavior="alternate" direction="right" width="40%" scrollamount="2">Welcome</marquee><br>
                </div>
                <h1><em style="font: size">Student </em></h1>
                <h1><em style="font: size 10px;">Dev Space </em></h1>

                <p class="text-white mb-4 pb-lg-2">
                    <em> a community for student developers</em>
                </p>

                <a class="btn custom-btn custom-border-btn smoothscroll me-3" href="#section_2">
                    About Us
                </a>

                <a class="btn custom-btn smoothscroll me-2 mb-2" href="#section_3"><strong>What we do</strong></a>
            </div>
        </div>
    </div>

    <div class="hero-slides"></div>
</section>
<section class="about-section section-padding" id="section_2">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="">

            <div class="col-lg-6 col-12">
                <div class="ratio ratio-1x1">
                    <img src="images/slides/FoC.jpg" alt="">

                    <div id="pppp" class="about-video-info d-flex flex-column pimpi">
                        <h4 class="mt-auto">We Started March 2024.</h4>

                        <h4>Faculty of Computing Bayero university kano.</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-4 mt-lg-0 mx-auto">
                <em class="text-white">About the community</em>

                <h2 class="text-white mb-3">Developer Student Space</h2>

                <p class="text-white">
                    The group was started by some student in bayero university kano, faculty of computing.<br> The group provides a supportive environment for students to enhance their technical skills, network with peers, and gain valuable experience that complements their academic learning., Whether you’re a seasoned coder or just starting out, the student developer space is the perfect place to connect, create, and contribute to the exciting world of technology.🌐💻 <br> <br>

                    Embarking on the journey of learning programming is like unlocking a new realm of possibilities. It’s not just about understanding code; it’s about cultivating a mindset that thrives on problem-solving and innovation. As a student, you have the unique opportunity to dive into the digital world and shape it with your ideas. <br> <br>
                    So, embrace the challenges, celebrate the small victories, and remember that every expert was once a beginner. The path to becoming a proficient programmer is paved with dedication and curiosity. Let your passion for technology drive you, and watch as you transform from a student into a creator, an innovator, and a tech visionary. 💻✨🚀. <br>
                </p>

                <h2 class="text-white mb-3">How We Do</h2>

                <p class="text-white">
                    1. This is a platform for student devs its both  an online forum and a physical space on campus we consider factors like accessibility, communication style preference, and potential project needs. <br> <br>

                    2. We establish core values like: Foster a culture of inclusivity, open communication, and respect for diverse learning styles we Encourage collaboration and knowledge sharing. <br> <br>

                    3. We Create engagement opportunities like: Weekly coding challenges: Pick a theme or technology and tackle a short problem together.
                    Skill-sharing sessions: Let members present on their expertise, from specific languages to debugging techniques.
                    Project collaborations: Form teams to work on open-source projects or build something fun together. <br> <br>
                    4. Utilize online resources:
                    Joint online courses: Sign up for online courses together and hold study sessions to discuss difficult concepts.
                    Live coding sessions: Schedule livestreams where members can showcase their projects and get feedback. <br>
                    Knowledge base: Create a shared document or repository to store code snippets, tutorials, and troubleshooting guides. <br><br>
                    5. Celebrate achievements: Recognize and celebrate successes, both individual and collaborative. This motivates members and strengthens the sense of community. <br><br>

                    <strong> Remember</strong> <br>
                    Inclusivity: Encourage participation from all experience levels.
                    Mentorship: Senior members can mentor newer students.
                    Fun: Keep it engaging! Organize events, hackathons, or game nights.
                    By following these tips and fostering a supportive learning environment, our community can become a valuable resource for every member's of  software engineering department and the faculty in general journey.
                </p>


                <a href="#dev-team" class="smoothscroll btn custom-btn custom-border-btn mt-3 mb-4">Meet Our Team</a>
            </div>

        </div>
    </div>
</section>
<section class="dev-section section-padding section-bg" id="dev-team">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                <em class="text-white">Team One</em>

                <h2 class="text-white">Meet Student Devs</h2>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4">
                <div class="team-block-wrap">
                    <div class="team-block-info d-flex flex-column">
                        <div class="d-flex mt-auto mb-3">
                            <h4 class="text-white mb-0">Abdulhalim</h4>

                            <p class="badge ms-4"><em>Full Stack Developer</em></p>
                        </div>

                        <p class="text-white mb-0">Software Engineer, Full stack developer blazor and ASP.Net </p>
                    </div>

                    <div class="team-block-image-wrap">
                        <img src="images/team/_H6A3543 (3).jpg" class="team-block-image img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4">
                <div class="team-block-wrap">
                    <div class="team-block-info d-flex flex-column">
                        <div class="d-flex mt-auto mb-3">
                            <h4 class="text-white mb-0">Mustapha Bakoji</h4>

                            <p class="badge ms-4"><em>Front End Developer</em></p>
                        </div>

                        <p class="text-white mb-0">Skilled React.js frontend developer with a passion for building user-friendly interfaces. Continuously learning and exploring new technologies</p>
                    </div>

                    <div class="team-block-image-wrap">
                        <img src="images/team/Mustapha.jpg" class="team-block-image img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4">
                <div class="team-block-wrap">
                    <div class="team-block-info d-flex flex-column">
                        <div class="d-flex mt-auto mb-3">
                            <h4 class="text-white mb-0">Suleiman</h4>

                            <p class="badge ms-4"><em>Software generalist</em></p>
                        </div>

                        <p class="text-white mb-0">software engineer, generalist specilize in app, web and database development. bringing a diverse skill set to every project</p>
                    </div>

                    <div class="team-block-image-wrap">
                        <img src="images/team/Suleiman.jpg" class="team-block-image img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-block-wrap">
                    <div class="team-block-info d-flex flex-column">
                        <div class="d-flex mt-auto mb-3">
                            <h4 class="text-white mb-0">Fadil</h4>

                            <p class="badge ms-4"><em>Front End Developer</em></p>
                        </div>

                        <p class="text-white mb-0">Front end react developer, phyton developer</p>
                    </div>

                    <div class="team-block-image-wrap">
                        <img src="images/team/Fadil.jpg" class="team-block-image img-fluid" alt="">
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-block-wrap">
                    <div class="team-block-info d-flex flex-column">
                        <div class="d-flex mt-auto mb-3">
                            <h4 class="text-white mb-0">Abdulsalam</h4>

                            <p class="badge ms-4"><em>Back End Developer</em></p>
                        </div>

                        <p class="text-white mb-0">Software Developer Focus on back-end of web development</p>
                    </div>

                    <div class="team-block-image-wrap">
                        <img src="images/team/Abdulsalam.jpeg" class="team-block-image img-fluid" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section style=" background-image: url(../images/slides/FoC.jpg); background-size:auto;" class="section-padding" id="section_3">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <div class="menu-block-wrap">
                    <div class="text-center mb-4 pb-lg-2">
                        <em class="text-white">Dev Technology 1</em>
                        <h4 class="text-white">Web Development</h4>
                    </div>

                    <div class="menu-block">
                        <div class="d-flex">
                            <h6>HTML/CSS</h6>

                            <span class="underline"></span>

                            <strong class="ms-auto">2-3 weeks</strong>
                        </div>

                        <div class="border-top mt-2 pt-2">
                            <small>simple website development using html and css only </small>
                        </div>
                    </div>

                    <div class="menu-block my-4">
                        <div class="d-flex">
                            <h6>JAVASCRIPT</h6>

                            <span class="underline"></span>

                            <strong class="text-white ms-auto"><del>full</del></strong>

                            <strong class="ms-2">2-3 weeks</strong>
                        </div>

                        <div class="border-top mt-2 pt-2">
                            <small>basic javascript for website delopment </small>
                        </div>
                    </div>
                    <div class="menu-block">
                        <div class="d-flex">
                            <h6>
                                HTML/CSS & JS
                                <span class="badge ms-3">Recommend</span>
                            </h6>

                            <span class="underline"></span>

                            <strong class="ms-auto">Long Term</strong>
                        </div>

                        <div class="border-top mt-2 pt-2">
                            <small>simple website develope using html/css and javascript</small>
                        </div>
                    </div>

                    <div class="menu-block my-4">
                        <div class="d-flex">
                            <h6>Front End </h6>

                            <span class="underline"></span>

                            <strong class="ms-auto">Long Term</strong>
                        </div>

                        <div class="border-top mt-2 pt-2">
                            <small>front end development with react, angular, next js or blazor </small>
                        </div>
                    </div>

                    <div class="menu-block">
                        <div class="d-flex">
                            <h6>Back End</h6>

                            <span class="underline"></span>

                            <strong class="ms-auto">Long Term</strong>
                        </div>

                        <div class="border-top mt-2 pt-2">
                            <small>Back end development with node, Django, PHP, Laravel or ASP.Net</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="menu-block-wrap">
                    <div class="text-center mb-4 pb-lg-2">
                        <em class="text-white">Dev Technology 2</em>
                        <h4 class="text-white">Mobile Develoment</h4>
                    </div>

                    <div class="menu-block">
                        <div class="d-flex">
                            <h6>React Native</h6>

                            <span class="underline"></span>

                            <strong class="text-white ms-auto"><del>2 month</del></strong>

                            <strong class="ms-2">Long Term</strong>
                        </div>

                        <div class="border-top mt-2 pt-2">
                            <small>Mobile Develoment using react native </small>
                        </div>
                    </div>

                    <div class="menu-block my-4">
                        <div class="d-flex">
                            <h6>
                                Flutter
                                <span class="badge ms-3">Recommend</span>
                            </h6>

                            <span class="underline"></span>

                            <strong class="ms-auto">Long Term</strong>
                        </div>

                        <div class="border-top mt-2 pt-2">
                            <small>cross platform developmet with flutter</small>
                        </div>
                    </div>

                    <div class="menu-block">
                        <div class="d-flex">
                            <h6>Java and XMl</h6>

                            <span class="underline"></span>

                            <strong class="ms-auto">Long Term</strong>
                        </div>

                        <div class="border-top mt-2 pt-2">
                            <small>Mobile development with java and xml</small>
                        </div>
                    </div> <br>
                    <div class="ms-lg-3">
                        <a class="btn custom-btn custom-border-btn" href="https://forms.gle/ahj4FZ6QosFdUeah7">
                            Join Us
                            <i class="bi-arrow-up-right ms-2"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<section class="reviews-section section-padding section-bg" id="section_4">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                <em class="text-white">Reviews by other Students</em>

                <h2 class="text-white">Upcomming Devs</h2>
            </div>

            <div class="timeline">
                <div class="timeline-container timeline-container-left">
                    <div class="timeline-content">
                        <div class="reviews-block">
                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                <img src="images/team/fatima.jpg" class="reviews-block-image img-fluid" alt="">

                                <div class="">
                                    <h6 class="text-white mb-0">Fatima Bashir Umar</h6>
                                    <em class="text-white"> Class Rep SWE Lvl 3</em>
                                </div>
                            </div>

                            <div class="reviews-block-info">
                                <p>The group provides a tech space for students to enhance their technical skills, network with peers, and gain valuable experience that complements their academic learning.,</p>

                                <div class="d-flex border-top pt-3 mt-4">
                                    <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                    <div class="reviews-group ms-auto">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-container timeline-container-right">
                    <div class="timeline-content">
                        <div class="reviews-block">
                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                <img src="images/reviews/Muneer.jpg" class="reviews-block-image img-fluid" alt="">

                                <div class="">
                                    <h6 class="text-white mb-0">Munir  Kabir Ammani</h6>
                                    <em class="text-white"> Student</em>
                                </div>
                            </div>

                            <div class="reviews-block-info">
                                <p>Joining the community is one of the best thing i ever do it was  interesting as i get paired with other student devs</p>

                                <div class="d-flex border-top pt-3 mt-4">
                                    <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                    <div class="reviews-group ms-auto">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-container timeline-container-left">
                    <div class="timeline-content">
                        <div class="reviews-block">
                            <div class="reviews-block-image-wrap d-flex align-items-center">
                                <img src="images/reviews/abdul.jpg" class="reviews-block-image img-fluid" alt="">

                                <div class="">
                                    <h6 class="text-white mb-0">Abdulllahi</h6>
                                    <em class="text-white"> Student </em>
                                </div>
                            </div>

                            <div class="reviews-block-info">
                                <p> it was  interesting as i get paired with other student developers</p>

                                <div class="d-flex border-top pt-3 mt-4">
                                    <strong class="text-white">4.5 <small class="ms-2">Rating</small></strong>

                                    <div class="reviews-group ms-auto">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>



<section class="contact-section section-padding" id="section_5">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h2 class="text-white mb-4 pb-lg-2">Contact</h2>
            </div>

            <div class="col-lg-6 col-12">
                <form method="post" class="custom-form contact-form">

                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <label for="name" class="form-label">Name <sup class="text-danger">*</sup></label>

                            <input type="text" id="Name" name="Contact.Name" class="form-control" placeholder="Your Name" required="">
                        </div>

                        <div class="col-lg-6 col-12">
                            <label for="email" class="form-label">Email Address</label>

                            <input type="email" id="Email" name="Contact.Email" class="form-control" placeholder="yourmail@domain.com" required="">
                        </div>

                        <div class="col-12">
                            <label for="message" class="form-label">How can we help?</label>

                            <textarea id="Message" name="Contact.Message" rows="4" class="form-control"  placeholder="Message" required=""></textarea>

                        </div>
                    </div>

                    <div class="col-lg-5 col-12 mx-auto mt-3">
                        <button type="submit" class="form-control">Send Message</button>
                    </div>
                </form><br />   
                @if (Model.EmailSent)
                {
                      <div class="alert alert-success">Your email has been sent successfully Thank You For Contacting Us.</div>
                }
                else if (Model.EmailFailed)
                {
                      <div class="alert alert-danger">Sorry There was an error sending your email. Please try again later.</div>
                }
            
            </div>

            <div class="col-lg-6 col-12 mx-auto mt-5 mt-lg-0 ps-lg-5">
                <img class="card id-cad" src="/images/OIG3...jpg" alt="">
            </div>
            <div class="col-lg-5 col-12 mx-auto mt-3">
                <div class="ms-lg-3">
                    <a class="btn custom-btn custom-border-btn" href="https://forms.gle/ahj4FZ6QosFdUeah7">
                        Join Us
                        <i class="bi-arrow-up-right ms-2"></i>
                    </a>
                </div>
            </div>

        </div>

    </div>

</section>
